/target/
!.mvn/wrapper/maven-wrapper.jar
*.bak

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/build/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

.ai/

### IntelliJ HTTP Client ###
# credentials live here; the public http-client.env.json is committed
http-client.private.env.json
