<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
	<session-factory name="">
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Actor" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.City" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Inventory" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.FilmText" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Film" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Category" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Language" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Customer" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Rental" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Payment" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Address" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Country" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Store" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.FilmCategory" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.Staff" />
		<mapping class="pe.com.hiper.sample.sakila.shared.domain.mapping.FilmActor" />
	</session-factory>
</hibernate-configuration>
