<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/sakila</property>
    <property name="hibernate.connection.username">root</property>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Payment.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Actor.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/City.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Inventory.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/FilmText.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Film.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Category.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Language.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Customer.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Rental.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Address.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Country.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Store.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/FilmCategory.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/Staff.hbm.xml"/>
    <mapping resource="pe.com.hiper.sakila.shared.domain.hbm/FilmActor.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
