<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd">

	<bean
		class="org.springframework.context.annotation.CommonAnnotationBeanPostProcessor" />

	<bean
		class="org.springframework.beans.factory.annotation.AutowiredAnnotationBeanPostProcessor" />

	<bean id="propertyConfigurer"
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
		p:location="/WEB-INF/classes/hibernate.properties" />

	<bean id="myDataSource"
		class="org.springframework.jdbc.datasource.DriverManagerDataSource"
		p:driverClassName="${hibernate.connection.driver_class}" p:url="${hibernate.connection.url}"
		p:username="${hibernate.connection.username}" p:password="${hibernate.connection.password}" />

	<!-- ADD PERSISTENCE SUPPORT HERE (jpa, hibernate, etc) -->
	<bean id="mySessionFactory"
		class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="myDataSource" />
		<property name="annotatedClasses">
			<list>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Payment
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Actor
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.City</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Inventory
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.FilmText
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Film</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Category
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Language
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Customer
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Rental
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Address
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Country
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Store
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.FilmCategory
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.Staff
				</value>
				<value>pe.com.hiper.sample.sakila.shared.domain.mapping.FilmActor
				</value>
			</list>
		</property>
		<property name="hibernateProperties">
			<props>
				<prop key="hibernate.dialect">${hibernate.dialect}</prop>
				<prop key="hibernate.show_sql">true</prop>
				<prop key="c3p0.acquire_increment">1</prop>
				<prop key="c3p0.idle_test_period">100</prop>
				<prop key="c3p0.max_size">100</prop>
				<prop key="c3p0.max_statements">0</prop>
				<prop key="c3p0.min_size">10</prop>
				<prop key="c3p0.timeout">100</prop>
			</props>
		</property>
	</bean>

	<bean id="transactionManager"
		class="org.springframework.orm.hibernate4.HibernateTransactionManager">
		<property name="sessionFactory">
			<ref local="mySessionFactory" />
		</property>
	</bean>

	<bean id="txAttributeSource"
		class="org.springframework.transaction.interceptor.NameMatchTransactionAttributeSource">
		<property name="properties">
			<props>
				<prop key="add*">PROPAGATION_REQUIRED</prop>
				<prop key="update*">PROPAGATION_REQUIRED</prop>
				<prop key="remove*">PROPAGATION_REQUIRED</prop>
				<prop key="send*">PROPAGATION_REQUIRED</prop>
			</props>
		</property>
	</bean>

	<bean id="txInterceptor"
		class="org.springframework.transaction.interceptor.TransactionInterceptor">
		<property name="transactionManager">
			<ref local="transactionManager" />
		</property>
		<property name="transactionAttributeSource">
			<ref local="txAttributeSource" />
		</property>
	</bean>

	<bean id="autoProxyCreator"
		class="org.springframework.aop.framework.autoproxy.BeanNameAutoProxyCreator">
		<property name="interceptorNames">
			<list>
				<idref local="txInterceptor" />
			</list>
		</property>
		<property name="beanNames">
			<list>
				<value>*dao</value>
				<value>*Dao</value>
				<value>*DAO</value>
			</list>
		</property>
	</bean>

	<context:annotation-config />

	<!-- Dao configuration -->
	<context:component-scan base-package="pe.com.hiper.sample.sakila.shared" />

	<!-- Service configuration -->
	<context:component-scan base-package="pe.com.hiper.sample.sakila.server.service" />

</beans>
